# Ignorar pastas #
Lab1/System_Rars/

Lab1/rars.sh
Trabalho-final/util/generate_map
Trabalho-final/util/map_management
Trabalho-final/util/generate_map.exe
Trabalho-final/util/map_management.exe
Trabalho-final/sprites/convbmp

